<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
            android:name=".MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.WinsRehab">


        <!--把MainActivity改成普通Activit（不作为启动入口） -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.WinsRehab" />
        <!--医生登陆页-->
        <activity
            android:name=".ui.main.doctor.login.DtLogActivity"
            android:exported="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--患者登陆页-->
        <activity android:name=".ui.main.patient.login.PtLogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
            <!--医生主页-->
        <activity android:name=".ui.main.doctor.home.DtHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--患者主页-->
        <activity android:name=".ui.main.patient.home.PtHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
<!--        医生信息页-->
        <activity android:name=".ui.main.doctor.info.DtInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--患者信息页-->
        <activity android:name=".ui.main.patient.info.PtInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
<!--        心理助手界面-->
        <activity android:name=".ui.main.patient.psychology.PsychologyActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--视频列表界面-->
        <activity android:name=".ui.main.patient.Video.TrainingVideoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--视频播放界面-->
        <activity android:name=".ui.main.patient.Video.VideoPlayerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--把SelectLogActivity设为启动Activity -->
        <activity
            android:name=".ui.main.selectLog.SelectLogActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
